.loader {
    align-items: center;
    background: rgb(0, 110, 255);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}
.loader::after {
    animation: loader 0.5s linear infinite;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    border-right: 2px solid rgba(83, 83, 83, 0.2);
    border-top: 2px solid rgb(83, 83, 83, 0.2);
    content: "";
    height: 70px;
    width: 70px;
}
@keyframes loader {
    0% {
        transform: rotate(0);
   }
    100% {
        transform: rotate(360deg);
   }
}
